if user
    li.nav-item.active
        a.nav-link(href='/emails/send') Email
    li.nav-item.active
        a.nav-link(href='/users/preferences') Preferences
    li.nav-item.active
        a.nav-link(href='/users/logout') Logout
else
    li.nav-item.active
        a.nav-link(href='/users/login') Login
    li.nav-item.active
        a.nav-link(href='/users/register') Register