if user
    p.lead.mb-3 Welcome #{user.name}
    a.btn.btn-primary.btn-block.mb-2(href='/emails/send') Send Email
    a.btn.btn-primary.btn-block.mb-2(href='/users/preferences') Change Alert Preferences
    a.btn.btn-secondary.btn-block.mb-2(href='/users/logout') Logout
else
    p.lead.mt-4
    a.btn.btn-primary.btn-block.mb-2(href='/users/login') Login
    a.btn.btn-secondary.btn-block.mb-2(href='/users/register') Register