doctype html
title Inhalert
meta(charset='UTF-8')
// Latest compiled and minified CSS
link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
// jQuery library
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
// Latest compiled JavaScript
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')
meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato')
link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
style.
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
  font-family: "Lato", sans-serif;
  }
  .rec {
  padding-left: 124px;
  }
  .back {
  background-image: url(views/nice-sky-with-clouds_1112-455.jpg);
  }
  .w3-bar,
  h1,
  button {
  font-family: "Montserrat", sans-serif;
  }
  .fa-anchor,
  .fa-coffee {
  font-size: 200px;
  }
  element {
  margin-left: -24px;
  margin-right: -24px;
  padding-left: 24px;
  padding-right: 24px;
  }
// Header
header.w3-container.w3-center.bg-dark(style='padding: 64px; padding-right: 0px;')
  h1.w3-margin.w3-cen Air Quality Guidelines
  p(style='font-family: Montserrat; font-size: 16px;')
    | General health advice given by the Environmental Protection Agency (EPA)
    | and how you can protect yourself from air pollution.
.w3.w3-container
  h1.w3-twothird(style='padding-left:20px') Air Quality Categories
  .w3-third.w3-center(style='padding-top: 0px; padding-left: 0px;')
    ul.list-group(style='height: 100px;')
      li.list-group-item.list-group-item-success
        | Good
      li.list-group-item.list-group-item-warning
        | Moderate
      li.list-group-item.list-group-item-warning
        | Poor
      li.list-group-item.list-group-item-danger
        | Very Poor
      li.list-group-item.list-group-item-danger
        | Hazardous
.rec
  .w3.w3-padding-64.w3-container
    div
      .w3-twothird(style='padding-right: 64px;')
        h3
          | Good
        p.w3-text-grey
          | Info
  // Second Grid
  .w3-row-padding.w3-padding-64.w3-container
    div
    .w3-twothird
      h3.w3-padding-32
        | Mdoerate
      p.w3-text-grey
        | Info
  .w3-row-padding.w3-padding-64.w3-container
    div
    .w3-twothird
      h3.w3-padding-32
        | Poor
      p.w3-text-grey
        | Info
  .w3-row-padding.w3-padding-64.w3-container
    div
    .w3-twothird
      h3.w3-padding-32
        | Very Poor
      p.w3-text-grey
        | Info
  .w3-row-padding.w3-padding-64.w3-container
    div
    .w3-twothird
      h3.w3-padding-32
        | Hazardous
      p.w3-text-grey
        | Info
