extends layout

block content
  .row.mt-5
    .col-md-6.m-auto
      .card.card-body.text-center
        h1
          i.far.fa-bell.fa-3x
          i.fas.fa-wind.fa-3x
        p Create an account or login
        a.btn.btn-primary.btn-block.mb-2(href='/users/register') Register
        a.btn.btn-secondary.btn-block(href='/users/login') Login
        a.btn.btn-dark.btn-block(href='/dashboard') Continue to Dashboard