extends layout

block extraHeader
    script(type='text/javascript' src="/static/sites.js")

block content
    .row.mt-5
        .col-md-6.m-auto
            .card.card-body
                h1.text-center.mb-2 Choose Site to be Notified for
                include ./partials/messages
                form(action='/users/preferences', method='POST')
                    select.form-group#sel(name="siteSelection" onchange="show(this) ; removeSelected()") Select Site
                        option.form-control(value="") >-- Select --<
                    button.btn.btn-primary.btn-block#btn(type='button' onclick='getSubs()' )
                        | Submit

    ul#msg
    script(type = 'text/javascript').
        $(document).ready(populateSelect());

